services:
  frontend:
    build: .
    ports:
      - "3000:3000"
    environment:
      - API_URL=http://backend:8000
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend

  backend:
    build: ../joohoonkim-portfolio-backend
    ports:
      - "8000:8000"
    env_file:
      - ../joohoonkim-portfolio-backend/.env
    environment:
      - FRONTEND_ORIGIN=http://localhost:3000
